@import "/src/assets/scss/config.scss";

.card-link {
  text-decoration: none !important;
  width: auto;
  max-width: 90%;
  margin: auto;
  &:hover {
    text-decoration: none !important;
  }
}

.card {
  transition: all 250ms;
  &:hover {
    border-color: $color-grey-dark;
  }
  a .card-img-top {
    padding: 20px 0;
    max-height: 250px;
    width: auto;
    max-width: 90%;
    margin: auto;
  }
  p,
  h5 {
    color: initial;
  }
}
